# ENV
NODE_ENV=development
PORT=5000

# APP
APP_NAME="Cool"
APP_VERSION="0.0.1"

# DOMAIN
FRONTEND_DOMAIN="http://localhost:3000"
BACKEND_DOMAIN="http://localhost:5000"

# API
API_PREFIX="api"

# JWT
JWT_SECRET_KEY=''
ACCESS_TOKEN_EXPIRES_DAYS='1'
REFRESH_TOKEN_EXPIRES_DAYS='30'

# DATABASE
DATABASE_TYPE=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=nest
DATABASE_SYNCHRONIZE=true
DATABASE_MAX_CONNECTIONS=100
DATABASE_SSL_ENABLED=false
DATABASE_REJECT_UNAUTHORIZED=false
DATABASE_CA=
DATABASE_KEY=
DATABASE_CERT=

# Support "local", "s3"
FILE_DRIVER=local
ACCESS_KEY_ID=
SECRET_ACCESS_KEY=
AWS_S3_REGION=
AWS_DEFAULT_S3_BUCKET=

MAIL_HOST=maildev
MAIL_PORT=1025
MAIL_USER=
MAIL_PASSWORD=
MAIL_IGNORE_TLS=true
MAIL_SECURE=false
MAIL_REQUIRE_TLS=false
MAIL_DEFAULT_EMAIL=noreply@nest.org
MAIL_DEFAULT_NAME="Cool"
MAIL_CLIENT_PORT=1080

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
